@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./assets/img/cool-background.png");
  backdrop-filter: blur(10px);
}

.header {
  backdrop-filter: blur(10px);
  color: white;
  padding: 20px 0;
  text-align: center;
}

.logo-text {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.heroImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: drop-shadow(0 0 0.75rem aqua);
}
